body {
  background-image: url("./legal-pad.png");
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #100804;
  min-height: 100vh;
  background-size: cover;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.btn:focus {
  box-shadow: none;
}

.btn-play {
  position: relative;
  z-index: 0;
  border-radius: 5px; 
  background:#d1ed31;
}
.btn-play:hover {
  box-shadow: 4px 4px 5px 2px rgba(0, 184, 165, 0.4);
  color: #e24216;
}

.brand-style {
  font-family: "Rampart One", sans-serif;
}

@media(hover: hover) and (pointer: fine) {
  .btn-play:hover {
    box-shadow: 4px 4px 5px 2px rgba(0, 184, 165, 0.4);
    color: #e24216;
  } .btn-login:hover,
  .btn-logout:hover {
    background-color: #e7fb9d;
    color: #ff621f;
    box-shadow: 3px 3px 5px 2px rgba(0, 184, 165, 0.4);
  }.btn-home:hover {
    background-color: #ff621f;
    color: #8ae7f5;
    box-shadow: 3px 3px 5px 2px rgba(0, 184, 165, 0.4);
  }.word-btn:hover,
  .selected {
    background-color: #ff501f;
    color: #eefeff;
  }
}